/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
	--ion-color-verde: #69bb7b;
	--ion-color-verde-rgb: 105,187,123;
	--ion-color-verde-contrast: #000000;
	--ion-color-verde-contrast-rgb: 0,0,0;
	--ion-color-verde-shade: #5ca56c;
	--ion-color-verde-tint: #78c288;
    --ion-color-oro: #f5c211;
	--ion-color-oro-rgb: 245,194,17;
	--ion-color-oro-contrast: #000000;
	--ion-color-oro-contrast-rgb: 0,0,0;
	--ion-color-oro-shade: #d8ab0f;
	--ion-color-oro-tint: #f6c829;
}

img {
    transition: all 0.3s ease;  /* Transición suave */
}

img:hover {
    opacity: 0.8;  /* Hace la imagen un poco transparente */
    transform: scale(1.1);  /* Aumenta ligeramente el tamaño */
}

img {
    width: 45%;  /* Ancho de la imagen */
    height: 45%;  /* Alto de la imagen */
    border-radius: 50%;  /* Convierte la imagen en un círculo */
    object-fit: cover;  /* Se asegura de que la imagen se ajuste bien al contenedor */
}

.ion-color-verde2 {
	--ion-color-base: var(--ion-color-verde);
	--ion-color-base-rgb: var(--ion-color-verde-rgb);
	--ion-color-contrast: var(--ion-color-verde-contrast);
	--ion-color-contrast-rgb: var(--ion-color-verde-contrast-rgb);
	--ion-color-shade: var(--ion-color-verde-shade);
	--ion-color-tint: var(--ion-color-verde-tint);
}


.ion-color-oro {
	--ion-color-base: var(--ion-color-oro);
	--ion-color-base-rgb: var(--ion-color-oro-rgb);
	--ion-color-contrast: var(--ion-color-oro-contrast);
	--ion-color-contrast-rgb: var(--ion-color-oro-contrast-rgb);
	--ion-color-shade: var(--ion-color-oro-shade);
	--ion-color-tint: var(--ion-color-oro-tint);
}
.ion-color-verde1 {
    /* border: 1px solid #000; Cambia el color del borde según tus necesidades */
    border-radius: 8px; /* Bordes redondeados, si lo deseas */
    background-color: #002f10;
    color: #000; /* Color del texto */
    border: none;
    text-decoration: none;
    box-shadow: 0 2px 25px rgba(107, 197, 5, 0.63);
}

.ion-color-oro1 {
    border-radius: 8px; /* Bordes redondeados, si lo deseas */
    background-color: #eb9110;
    color: #000; /* Color del texto */
    border: none;
    text-decoration: none;
    box-shadow: 0 2px 25px rgb(231, 252, 47);
}

.ion-color-oroVerde{
	background-color: #002f10;
	/*background: linear-gradient(90deg, rgba(162,242,154,1) 4%, rgba(18,228,0,1) 32%, rgba(255,229,0,1) 55%, rgba(236,226,130,1) 99%);
*/
	height: 70px;
	margin: 0px 0px 0px 0px;
}



.div-estilo1{
	
	display: flex; 
	text-align: center;
	width:100%;
	
}
.page-myimg {
	display: flex;
	background-image: url('../../../myApp/assets/img/Logo_de_la_UAEMex.svg'); /* Ruta de la imagen */
	background-size: cover; /* Que la imagen cubra toda la página */
	background-position: center; /* Centra la imagen */
	width: 65px; 
	height: 65px;
	background-repeat: no-repeat; /* Evita que la imagen se repita */
	margin: 0px 0px 0px 4px ;
}
.page-background {
	background-image: url('../../../myApp/assets/img/fondo1.jpg'); /* Ruta de la imagen */
	background-size: cover; /* Que la imagen cubra toda la página */
	background-position: center; /* Centra la imagen */
	height: 100%; /* 100% de la altura de la ventana */
	width: 100%; /* 100% del ancho */
	background-repeat: no-repeat; /* Evita que la imagen se repita */
	margin-top: 0px;
}
.centrar-login{
	display: flex;
    justify-content: center;
    align-items: center;
}
.estilo-letras{
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 25px;
	margin: 0px 0px 0px 80px;
	text-align: center;
}
.estilo-letras-login{
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 25px;
	text-align: center;
}
.sin-bordes{
	margin: 0px 0px 0px 0px;
	padding: 0px;
}
.contenedor-candidatos{
	/* border: solid black; */
	border-radius: 10px ;
	width: 100%;
	height:100%;
	/* background-color: #FFD700; */
}
.contenedor-candidato{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	background-color: #eb9110;
	border-radius: 10px ;
}

.custom-content {
	padding: 0;
  margin: 0;
  border: none;
  background-color: transparent; /* Fondo transparente */
  box-shadow: none; /* Sin */
}
.info-icon {
	position: absolute;
  	right: 22.5px;
  	font-size: 24px;
  	color: blue;
}
